<!-- Describe task in general -->

<p><i>
    В 4ой миссии серии добавляется больше лампочек.
</i></p>

<p>
    Все также надо определить, как долго будет освещена комната в период наблюдения между start_watching и end_watching. Но теперь у нас более одной лампочки. А значит в массиве переключения лампочек теперь может быть передан еще и номер лампочки, кнопка которой нажимается.
</p>

<p>Каждым элементом массива нажатий на кнопку может быть или объект datetime (значит время нажатия на первую кнопку) или tuple из 2х элементов (где первый элементы — это объект datetime время нажатия на кнопку), а второй это номер лампочки, кнопка который нажимается.</p>

<p><i>Если переданный массив будет состоять только из элементов datetime, то значит у нас только одна лампочка и функция должна работать также, как и в предыдущей миссии серии.</i></p>


<p style="text-align: center;" class="for_info_only">
    <img  title="example" src="{{MEDIA}}composition.gif" alt="example" style="max-height: 400px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> Три аргумента и только первый обязательный. Первый – {% if is_js %}an array of Date objects (вместо Date может быть [Date, number]){% else %}a list of datetime objects(вместо datetime может быть [datetime, int]){% endif %}, а второй и третий –  {% if is_js %}the Date objects{% else %}the datetime objects{% endif %}.
</p>

<p>
    <strong>Output: </strong> Количество секунд как integer. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if is_js %}
<pre class="brush: javascript">sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 0, 10),
    [new Date(2015, 1, 12, 10, 0, 0), 2],
    [new Date(2015, 1, 12, 10, 1, 0), 2],
]) == 60

sumLight([
    [new Date(2015, 1, 12, 10, 0, 10), 3],
    new Date(2015, 1, 12, 10, 0, 20),
    [new Date(2015, 1, 12, 10, 0, 30), 3],
    [new Date(2015, 1, 12, 10, 0, 30), 2],
    new Date(2015, 1, 12, 10, 0, 40),
    [new Date(2015, 1, 12, 10, 0, 50), 2],
    [new Date(2015, 1, 12, 10, 1, 0), 3],
    [new Date(2015, 1, 12, 10, 1, 20), 3],
]) == 60

sumLight([
    new Date(2015, 1, 12, 10, 0, 0),
    new Date(2015, 1, 12, 10, 0, 10),
    [new Date(2015, 1, 12, 10, 0, 0), 2],
    [new Date(2015, 1, 12, 10, 1, 0), 2],
], new Date(2015, 1, 12, 10, 0, 20), new Date(2015, 1, 12, 10, 1, 0)) == 40

sumLight([
    [new Date(2015, 1, 12, 10, 0, 10), 3],
    new Date(2015, 1, 12, 10, 0, 20),
    [new Date(2015, 1, 12, 10, 0, 30), 3],
    [new Date(2015, 1, 12, 10, 0, 30), 2],
], new Date(2015, 1, 12, 10, 0, 10), new Date(2015, 1, 12, 10, 0, 30)) == 20
</pre>
{% else %}
<pre class="brush: python">sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 0, 10),
    (datetime(2015, 1, 12, 10, 0, 0), 2),
    (datetime(2015, 1, 12, 10, 1, 0), 2),
]) == 60

sum_light([
    (datetime(2015, 1, 12, 10, 0, 10), 3),
    datetime(2015, 1, 12, 10, 0, 20),
    (datetime(2015, 1, 12, 10, 0, 30), 3),
    (datetime(2015, 1, 12, 10, 0, 30), 2),
    datetime(2015, 1, 12, 10, 0, 40),
    (datetime(2015, 1, 12, 10, 0, 50), 2),
    (datetime(2015, 1, 12, 10, 1, 0), 3),
    (datetime(2015, 1, 12, 10, 1, 20), 3),
]) == 60

sum_light([
    datetime(2015, 1, 12, 10, 0, 20),
    (datetime(2015, 1, 12, 10, 0, 30), 2),
    datetime(2015, 1, 12, 10, 0, 40),
    (datetime(2015, 1, 12, 10, 0, 50), 2),
], datetime(2015, 1, 12, 10, 0, 30)) == 20

sum_light([
    datetime(2015, 1, 12, 10, 0, 0),
    datetime(2015, 1, 12, 10, 0, 10),
    (datetime(2015, 1, 12, 10, 0, 0), 2),
    (datetime(2015, 1, 12, 10, 1, 0), 2),
], datetime(2015, 1, 12, 10, 0, 20), datetime(2015, 1, 12, 10, 1, 0)) == 40
</pre>
{% endif %}
</div>



<p>
    <strong>Предусловия:</strong>
</p>

<ul>
    <li><i>Массив нажатий на кнопку всегда отсортирован по возрастанию</i></li>
    <li><i>В массиве нажатий на кнопку нет повторяющихся элементов</i></li>
    <li><i>Минимально возможная дата 1970-01-01</i></li>
    <li><i>Максимально возможная дата 9999-01-01</i></li>
</ul>
